name: Generate Snake
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Youssef8811
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-light&color_snake=orange&color_dots=#ebedf0,#c084fc,#a855f7,#7e22ce,#850cc9
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=cyan&color_dots=#0D1117,#c084fc,#a855f7,#7e22ce,#850cc9
            
      - name: Push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
