name: Generate Snake
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Youssef8811
          outputs: |
            # Light mode version — black snake
            dist/github-contribution-grid-snake.svg?color_snake=%23000000&color_dots=%23ebedf0,%23c084fc,%23a855f7,%237e22ce,%23850cc9

            # Dark mode version — cyan snake
            dist/github-contribution-grid-snake-dark.svg?color_snake=%2300FFFF&color_dots=%23161b22,%23c084fc,%23a855f7,%237e22ce,%23850cc9

      - name: Push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
